version: "3"

services:
  server:
    build: .
    container_name: mycroft_flask
    restart: always
    env_file: .env
    network_mode: "host"
    ports:
      - "5000:5000"
    working_dir: /code
    volumes:
      - ./:/code:z

# This is to allow docker to work properly on a VPN.
# Can be safely removed if not needed
networks:
  default:
    external:
      name: localdev
