<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mycroft React</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/date.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/clock.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/browns.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/video-display.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/content-window.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/weather.css') }}"
    />
    <script
      src="https://cdn.socket.io/3.1.3/socket.io.min.js"
      integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="owmkey" class="hidden">{{ owmkey }}</div>
    <div id="app"></div>
  </body>

  <script src="{{ url_for('static', filename='js/lib/vue.js') }}"></script>
  <script
    type="module"
    src="{{ url_for('static', filename='js/app.js') }}"
  ></script>
</html>
